.searchCigarette{
    padding: 5vh 10vw;
}
#cigaretteSelect{
    width: 100%;
}

.select2.select2-container{
    margin: 10px 0;
}


#cigaretteTable .btn{
    color: white;
}

.cigaretteQuantity{
    width: 35px;
    text-align: center;
}

#division-sale{
    margin: 20px;
    border-top: 1px solid black;
    padding-top: 20px;
}

.form-check .custom-control{
    text-align: left;
}

.form-check{
    text-align: left;
    display: flex;
    padding: 5vh 5vw;
    margin: 5vh 5vw;
    border: 1px black solid;
    border-radius: 25px;
}

.buttonQuantity{
    border: 1px solid grey;
    width: auto;
    height: 30px;
    border-radius: 2px;
    text-align: center;
}

.cigaretteTr td{
    vertical-align: middle;
}

.changed{
    background: lightcoral;
}

.table .changed:hover{
    background: lightcoral;
}

.filter .date{
    margin: 2vh 0;
}

#dateFilter{
    height: 30px;
    display: inline-block;
    width: 10vw;
    margin-top: 20px;
    padding: 0 10px;
}

#locationFilter{
    height: 30px;
    display: inline-block;
    width: 10vw;
    margin-top: 20px;
    padding: 0 10px;
}

#quantityFilter{
    height: 30px;
    display: inline-block;
    width: 10vw;
    margin-top: 20px;
    padding: 0 10px;
}




